nick = JavaBot
server = card.freenode.net
channels = #javabot
password = SET ACCORDING
prefix = #
messageDelay = 0

# FloodPreventor
floodDuration = 10000
messageLimit = 9
throttledTime = 60000

# Protection mode - false or true
protectMode = false

# Authenciation security
authenciationDelay = 10000